numpy>=1.22.2
scikit-learn>=1.1.1
imbalanced-learn>=0.9.1
xgboost>=1.4.2
catboost>=1.0.4
lightgbm>=3.3.2
scipy>=1.6.1
hyperopt>=0.2.7
pandas>=1.4.1
sdv>=0.17.1
torch>=1.13.0
statsmodels>=0.13.2









